

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;

    overflow-x: hidden;
    overscroll-behavior-y: auto;
}

.signup {
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
}


.signup h1 {
    text-align: center;
    color: #333;
}

.signup h4 {
    text-align: center;
    margin-top: 10px;
    color: grey;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}



body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;

}



/----------------------login-----------------------/
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    margin: 0;
    background-image: url('images/222.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.login {
    width: 400px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.login h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="submit"] {
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: grey;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
/-----------------------header--------------------------/
body {
    width: 100%;
    height: 1px;
    font-family: Arial, sans-serif;
    background-image: url('images/222.jpg');
    overflow-x: hidden;
    overscroll-behavior-y: auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #007bff;
    color: #fff;
    padding: -70px 15px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 30px auto 0;
    padding: 20px;
    text-align: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container h1 {
    margin-top: -30px;
}

header nav ul {
    list-style-type: none;
    margin: -35px;
}

header nav ul li {
    display: inline-block;
    margin-right: 10px;
}

header nav ul li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}


/--------------------active------------------/

.activation {
    width: 50px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.activation h1 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 480px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.activation p {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.activation label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 450px;
    margin-top: 10px;
}

.activation input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.activation input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    margin-left: 490px;
    margin-top: 20px;
}

.activation input[type="submit"]:hover {
    background-color: #007bff;
}


/--------------------------memberage---------------------------/

.memberpage.php body{
    overflow: hidden;
}


.black-box body{
    display: flex;
    overflow:hidden
}

.black-box h1{
    position: relative;
    margin-left:440px;
    margin-top: 100px;
}

.black-box p{
    position: relative;
    margin-right:140px;
    margin-top: 30px;
}

.black-box a {
    display: block;
    width: 240px;
    height: 130px;
    background-color: rgba(0, 123, 255, 0.5);
    margin-top: 80px;
    color: white;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    border-radius: 10px;

}


.black-box a span{
    position: relative;
    bottom: -20px;
    margin-left: -30px;
}

.box1-link {
    margin-left: 210px;
    margin-bottom: -210px;
}

.box2-link {
    margin-left: 470px;
    margin-bottom: -210px;
}

.box3-link {
    margin-left: 730px;
    margin-bottom: -70px;
}

.box4-link {
    margin-left: 210px;
    margin-bottom: -210px;
}

.box5-link {
    margin-left: 470px;
    margin-bottom: -210px;
}

.box6-link {
    margin-left: 730px;
    margin-bottom: -70px;
}

.black-box i {
    font-size: 24px;
    padding-top: -20px;
}




/---------------------Home--------------------/

.container {
    max-width: 1200px;
    margin: 65px auto 0;
    padding: 20px;
    text-align: center;
}


.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/222.jpg');
    background-size: cover;
    z-index: -1;
}




.image-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image {
    width: calc(25% - 10px);
    position: relative;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 20px;
}

.image:last-child {
    margin-right: 0;
}


.image img {
    width: 85%;
    border-radius: 0;
    height: 250px;
    object-fit: cover;
    margin-top: 70px;

}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 0 0  0;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 0.3s ease;
}

.image:hover .caption {
    background-color: rgba(255, 255, 255, 0.95);
}

.caption h3 {
    margin-bottom: 5px;
    font-size: 16px;
    color: #007bff;
}

.caption p {
    font-size: 14px;
    color: black;
    margin-bottom: 0;
}

.bottom-image {
    position: relative;
    text-align: center;
    color: white;
}

.black-background {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 47%;
    height: 250px;
    background-color: black;
    opacity: 0.2;
}

.black-background {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 47%;
    height: 200px;
    background-color: black;
    opacity: 0.2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    z-index: 1;

}

.black-background a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 0;
    margin-top: 10px;
    border-bottom: 2px solid #007bff;
    z-index: -1;
}


.bottom-image h1 {
    position: relative;
    margin-right: 870px;
    top: 50px;
    font-size: 30px;
    color: #007bff;
}


.bottom-image h2 {
    margin-top: 0;
    margin-left: 560px;
    font-size: 30px;
    color: #007bff;
}

.bottom-image p {
    margin-top: -10px;
    margin-left: 560px;
    color: black;
}




body{
    margin:0;
    overflow-x:hidden;

}

.footer{
    position: absolute;
    background:white;
    padding:-30px 0;
    font-family: 'Play', sans-serif;
    text-align:center;
    height: 80px;
    width: 1300px;
    margin-left: -32px;
    margin-top: 160px;

}

.footer .row{
    width:100%;
    margin:1% 0;

    color:black;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:#007bff;
    color:#007bff;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}

.footer .row ul{
    width:95%;
}

.footer .row ul li{
    display:inline-block;
    margin:10px
}


/-------------------timer--------------------/


.timer-page .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer-page{
    overflow: hidden;
}

.timer{
    margin-top: 130px;
}
.time{
    margin-top: 10px;
}

.timer-page .timer {
    text-align: center;
}

.timer-page .time {
    font-size: 36px;
    margin-bottom: 30px;

}

.timer-page button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timer-page button:hover {
    background-color: #ffffff;
}

/-------------------calender----------------------------/


.kalender.php body{
    overflow: hidden;
 }


.calendar-page {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin-left: -90px;

}

.calendar {
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 850px;
    margin-top: 90px;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 20px;

}

.prev, .next {
    cursor: pointer;
}

.weekdays {
    display: flex;
    background-color: #f1f1f1;
    padding: 10px 0;
}

.weekdays div {
    width: 14.28%;
    text-align: center;
    color: #666;
}

.days {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

.days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    margin: 2px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.days div:hover {
    background-color: #ddd;
}

.days div:nth-child(7n+1), .days div:nth-child(7n) {
    color: #ff4d4d;
}

.selected {
    background-color: #007bff;
    color: white;
}

.beeld img{
    max-width: 50%;
    margin-right: 420px;
    margin-top: 90px;


}

/--------------------------trofee--------------------------/

.intro, .why-choose-us, .company-goal {
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
}

.intro .row, .why-choose-us .row, .company-goal .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}


.intro .text, .why-choose-us .text, .company-goal .text {
    flex: 1;
    padding: 5px;
}

.intro .row img, .why-choose-us .row img, .company-goal .row img {
    width: 35%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro p, .why-choose-us p, .company-goal p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.intro button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}

.why-choose-us h2, .company-goal h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.stat {
    padding: 50px;
}

.stat h4 {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 5px;
}

.stat p {
    font-size: 1.2em;
    color: #333;
}


.company-goal ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.company-goal ul li {
    font-size: 1.2em;
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}

.company-goal ul li:before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #007bff;
}

/--------------------------contact-----------------------/

.contact-box{
    width: 500px;
    background-color: #007bff;
    box-shadow: 0 0 20px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

form{
    margin: 35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border: 1px solid #007bff;
}







